html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.outerWrapper {
    width: 100%;
    margin: 0;
    padding: 20px 0 0 0;
}

.gridDiv {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

.gridButton {
}

.gridButtonDisplay {
    border: 0;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    float: left;
    padding: 0;
}

@media (min-width: 960px){
    .gridButtonDisplay {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .gridDiv {
        width: 960px;
    }
}

@media (max-width: 960px){
    .gridButtonDisplay{
        width: 75px;
        height: 75px;
        margin: 7px;
    }

    .gridDiv {
        width: 720px;
    }
}

@media (max-width: 720px){
    .gridButtonDisplay {
        width: 45px;
        height: 45px;
        margin: 3px;
    }

    .gridDiv{
        width: 440px;
    }
}

@media (max-width: 425px){
    .gridButtonDisplay {
        width: 30px;
        height: 30px;
        margin: 3px;
    }

    .gridDiv{
        width: 300px;
    }
}

.gridButtonDisplay.selected {
    background: #104aa7;
}

.gridButtonDisplay.selected:hover {
    background: #1059dd;
}

.gridButtonDisplay.deSelected {
    background: #6d7076;
}

.gridButtonDisplay.deSelected:hover {
    background: #0e254a;
}
