html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	overflow-x: hidden;
}

button {
	cursor: pointer;
}

.outerWrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}

.gridDiv {
	width: 528px;
	margin: 0 auto;
	padding: 0;
}

.gridButton {
	width: 50px;
	height: 50px;
	background: #6d7076;
	border: 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	float: left;
	padding: 0;
	margin: 15px 0 0 15px;
}

.gridButton:hover {
	background: #104aa7;
}
